.scheduling-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.scheduling-body h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ECECEC;
    padding: 10px;
}

.scheduling-top {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #003865;
    color: #ECECEC;
    width: 550px;
    padding: 10px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-confirm {
    color: #003865;
    padding: 20px 60px;
    background-color:#d7d5d5 ;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.scheduling-body input {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    background-color: #ECECEC;
    padding: 5px;
    margin: 0px 2px;
}

.scheduling-body label {
    color: #003865;
    margin: 5px;
}

.confirm-button {
    background-color:#003865;
    height: 50px;
    width: 150px;
    color: #F7F5F2;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.confirm-button:hover {
    background-color: #3D6271;
}

.bookthisschedulepage-scheduling-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.bookthisschedulepage-scheduling-header {
    font-size: 32px;
}